<div class="flex flex-col relative w-full mb-1">
  @if(label){<label class="mb-1 font-medium text-[#303030]" [for]="inputId">
    {{ label }}
  </label>
  }
  <!-- Input wrapper for absolute positioning -->
  <div class="relative">
    <input
      [id]="inputId"
      class="border p-2 w-full rounded pr-16 text-sm"
      [class.border-red-500]="isInvalid"
      [placeholder]="placeholder"
      [value]="model"
      [attr.maxLength]="maxLength"
      [attr.aria-required]="required"
      [attr.aria-invalid]="isInvalid"
      [attr.aria-describedby]="counterInside ? inputId + '-counter' : null"
      (input)="onInput($event)"
    />

    <!-- Counter INSIDE -->
    @if (counterInside) {
    <span
      [id]="inputId + '-counter'"
      class="absolute right-2 top-1/2 -translate-y-1/2 text-xs text-gray-400"
      aria-live="polite"
    >
      {{ count }}/{{ maxLength }}
    </span>
    }
  </div>

  <!-- Counter BELOW -->
  @if (!counterInside) {<span
    [id]="inputId + '-counter'"
    class="text-xs self-end text-gray-500 mt-1"
    aria-live="polite"
  >
    {{ count }}/{{ maxLength }} </span
  >}

  <!-- Error Message -->
  @if (errorMessage) {
  <div class="text-sm text-red-600 mt-1" role="alert" aria-live="polite">
    {{ errorMessage }}
  </div>
  }
</div>
