/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
input,textarea,select{
    border-radius: 14px;
    background-color: #F8FAFC;
    border-color: #C3CAD8;
     font-size: 14px;
}
label{
    font-size: 14px;
}

/* Target all checkboxes globally */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 20px;
 
  height: 16px;
  border: 1px solid #212121;
  border-color: #212121;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  vertical-align: middle;
}

/* The sliding circle */
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 6px;
  height: 6px;
  background-color: #212121;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* State when checked */
input[type="checkbox"]:checked {
  background-color: #212121; 
}
/* Move the circle when checked */
input[type="checkbox"]:checked::before {
  transform: translateX(4px);
    background-color: white;
}

/* Optional: Focus state for accessibility */
input[type="checkbox"]:focus-visible {
  box-shadow: 0 0 0 2px rgba(74, 222, 128, 0.5);
}